<%- include('../partials/header') %>

<section>
    <h1><%= flight.airline %></h1>
    <h3>Airport: <%= flight.airport %></h3>
    <h3>Flight Number: <%= flight.flightNo %></h3>
    <h3>Departs: <%= flight.departs %></h3>

</section>


<%- include('../partials/footer') %>