<%- include('../partials/header') %>

<section>
    <h1><%= flight.airline %></h1>
    <h3>Airport: <%= flight.airport %></h3>
    <h3>Flight Number: <%= flight.flightNo %></h3>
    <h3>Departs: <%= flight.departs %></h3>

</section>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:
    <select name="airport">
        <option value="DEN">DEN</option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
</label><br>
  <label>Arrival:
    <input type="datetime-local" name="arrival">
</label><br>
  <input type="submit" value="Add Destination">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>

    <tbody>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Destination Yet</h5>
<% } %>


<%- include('../partials/footer') %>